<%- partial('_partial/mainnav') %>

<main class="archive">
  <% page.posts.each(function(post){ %>
    <%- partial('_partial/teaser', { post: post }) %>
  <% }) %>
  <%- partial('_partial/sidebar') %>
</main>
