<%- partial('_partial/mainnav') %>

<main class="archive">
  <section class="archive__section">
    <% page.posts.each(function(post){ %>
      <%- partial('_partial/teaser', { post: post }) %>
    <% }) %>
  </section>
  <%- partial('_partial/sidebar') %>
</main>
