<footer class="footer">
  <div class="footer__base container">
    <p>&copy; <span class="footer__year"><%= date(new Date(), 'YYYY') %></span> <%= config.author || config.title %></p>
    <%- partial("_partial/socialmedia") %>
  </div>
</footer>
