<aside class="sidebar">
  <div class="sidebar__container container">
    <% for (var widget in theme.widgets ) { %>
      <%- partial('sidebar/' + theme.widgets[widget]) %>
    <% } %>
  </div>
</aside>
