.article {
  margin-bottom: 4rem;

  h1, h2, h3, h4, p, ul, ol, hr, .highlight {
    @include textContainer;
  }

  h1, h2, h3, h4, h5 {
    padding-top: 1rem;
  }

  img {
    @include container;
    padding: 0;
  }

  p, ol, ul {
    @include font($f-txt01);
  }

  h1 {
    @include font($f-h01);
  }

  h2 {
    @include font($f-h02);

    border-bottom: 1px solid $c-action;
  }

  h3 {
    @include font($f-h03);
  }

  h4 {
    @include font($f-h04);
  }

  em {
    @include font($f-em01);
  }

  strong {
    @include font($f-strong01);
  }

  ul, ol {
    padding-left: 3rem;

    li {
      padding-left: 0.5rem;
    }

    ul, ol {
      padding-left: 1rem;
      margin-bottom: 0;
    }
  }

  > table {
    @include container;

    width: 100%;
    margin: 1rem auto;
    display: table;
    border-collapse: collapse;
    border-bottom: 2px solid $c-action;

    thead th {
      @include font($f-strong01);

      border-bottom: 2px solid $c-action;
    }

    tbody {
      tr:nth-child(even) {
        background: rgba($c-action, 0.15);
      }
    }

    th, td {
      padding: 1rem;
    }
  }

  hr {
    border: dashed $c-action;
    border-width: 0 0 1px;
  }

  .highlight {
    padding: 1rem;
  }
}
