.article {
  margin-bottom: 4rem;

  h1, h2, h3, h4, p, ul, ol, hr, .highlight {
    @include textContainer;
  }

  h1, h2, h3, h4, h5 {
    padding-top: 1rem;
  }

  img {
    @include container;
    padding: 0;
  }

  p, ol, ul {
    font-size: 1.2rem;
    line-height: 2rem;
    font-family: $f-roboto-s;
  }

  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 3rem;
    border-bottom: 1px solid $c-action;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  h4 {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }

  ul, ol {
    padding-left: 3rem;

    li {
      padding-left: 0.5rem;
    }

    ul, ol {
      padding-left: 1rem;
      margin-bottom: 0;
    }
  }

  > table {
    @include container;

    width: 100%;
    font-family: $f-primary;
    margin: 1rem auto;
    display: table;
    border-collapse: collapse;
    border-bottom: 2px solid $c-action;

    thead th {
      font-weight: bold;
      border-bottom: 2px solid $c-action;
    }

    tbody {
      tr:nth-child(even) {
        background: rgba($c-action, 0.15);
      }
    }

    th, td {
      padding: 1rem;
      text-align: left;
    }
  }

  hr {
    border: dashed $c-action;
    border-width: 0 0 1px;
  }

  .highlight {
    padding: 1rem;
  }
}
