body.noScroll {
  overflow: hidden;
}

.icon {
  fill: currentColor;
  color: inherit;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.textContainer {
  @include textContainer();
}

.container {
  @include container();
}

.center {
  text-align: center;
}
