$s-h1: 2rem;
$s-h1-xs: 3rem;
$s-h1-s: 4rem;
$s-h2: 1.5rem;
$s-h2-xs: 2rem;
$s-h2-s: 2.5rem;
$s-pad: 1rem;
$a-bounce: cubic-bezier(0.680, -0.550, 0.265, 1.550);

.homeheader {
  $this: &;
  $s-text-height: $s-h1 + $s-h2 + ($s-pad * 6);
  $s-text-height-xs: $s-h1-xs + $s-h2-xs + ($s-pad * 6);

  height: calc(100% - #{($s-mainnav-v-padding * 2)} - #{$s-mainnav-icon-size});
  min-height: calc(#{($s-menu-offset * 2)} + #{$s-text-height});
  text-align: center;
  position: relative;
  background-image: radial-gradient(
      $c-action,
      darken($c-action, 40)
  );

  @media (min-width: $b-xs) {
    height: calc(100% - #{($s-mainnav-v-padding * 2)} - #{$s-mainnav-icon-size-xs});
    min-height: calc(#{($s-menu-offset-xs * 2)} + #{$s-text-height-xs});
  }

  &__info,
  &__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }

  &__info {
    padding: 1rem;
    border-radius: 50%;
    background: $c-primary-bg;
  }

  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;

    &Item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .icon {
      width: 30px;
      height: 30px;
    }
  }

  &__menuLink {
    display: block;
    background: $c-primary-bg;
    padding: 1rem;
    border-radius: 50%;
    transition: transform 0.5s $a-bounce;

    #{$this}__menu--open & {
      transform: translate(0, -$s-menu-offset);

      @media (min-width: $b-xs) {
        transform: translate(0, -$s-menu-offset-xs);
      }
    }

    #{$this}__menu--open &--address-card {
      transform: translate(-($s-menu-offset / 2), -($s-menu-offset / 1.1538));

      @media (min-width: $b-xs) {
        transform: translate(-($s-menu-offset-xs / 2), -($s-menu-offset-xs / 1.1538));
      }
    }

    #{$this}__menu--open &--blog {
      transform: translate(($s-menu-offset / 2), -($s-menu-offset / 1.1538));

      @media (min-width: $b-xs) {
        transform: translate(($s-menu-offset-xs / 2), -($s-menu-offset-xs / 1.1538));
      }
    }

    #{$this}__menu--open &--linkedin {
      transform: translate(-($s-menu-offset / 2), ($s-menu-offset / 1.1538));

      @media (min-width: $b-xs) {
        transform: translate(-($s-menu-offset-xs / 2), ($s-menu-offset-xs / 1.1538));
      }
    }

    #{$this}__menu--open &--github {
      transform: translate(($s-menu-offset / 2), ($s-menu-offset / 1.1538));

      @media (min-width: $b-xs) {
        transform: translate(($s-menu-offset-xs / 2), ($s-menu-offset-xs / 1.1538));
      }
    }
  }
}
