$titles-height: 3.5rem;

.progressBar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  max-height: 100%;

  h1, h2, h3, h4, h5 {
    @include textContainer;
    @include font($f-primary);

    line-height: $titles-height;
    margin-bottom: 0;

    .headerlink {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &:hover {
        background: rgba($c-action, 0.15);
      }
    }
  }

  h1, h2 {
    @include font($f-progress-h);
  }

  &--showTitles {
    box-shadow: 0 -0.7rem 1rem 1rem rgba($c-primary-bg,1);
    background: $c-primary-bg;
  }

  &__current {
    width: 0;
    height: 7px;
    background: $c-action;
  }

  &__currentTitle {
    position: relative;
    border-bottom: 2px solid $c-action;

    &:not([hidden]) {
      display: block;
    }

    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 3rem;
    }

    .headerlink {
      display: none;
    }
  }

  &__titles {
    @include textContainer;

    display: none;
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    border-bottom: 2px solid $c-action;
    max-height: 255px;
    overflow: auto;

    &--open {
      display: block;
    }

    h3 {
      padding-left: 1.5rem;
    }

    h4 {
      padding-left: 2rem;
    }

    h5 {
      padding-left: 2.5rem;
    }
  }

  &__title {
    position: relative;
    border-bottom: 1px solid $c-action;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__toggle {
    @include textContainer;

    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    margin: 0;
    transform: translate(-50%, 0);
    text-align: right;

    .icon {
      width: 30px;
      height: $titles-height;
    }
  }
}
