.teaser {
  $this: &;

  margin-bottom: 3rem;

  &__title {
    display: block;
    padding: 0;
    margin-bottom: 1rem;
    position: relative;

    #{$this}--img & {
      background-position: center center;
      background-size: cover;
      height: 250px;
      color: $c-primary-light;

      &:hover {
        color: $c-link;
      }

      @media (min-width: $b-s) {
        height: 350px;
      }

      @media (min-width: $b-l) {
        height: 400px;
      }
    }

    h1 {
      #{$this}--img & {
        @include font($f-h05);

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 0;
        background-color: rgba($c-primary-bg-light, 0.75);
        padding-top: 0;
      }
    }
  }
}
