@import "scss/variables/variables";

$h-background: #2d2d2d;
$h-current-line: #393939;
$h-selection: #515151;
$h-foreground: #cccccc;
$h-comment: #999999;
$h-red: #f2777a;
$h-orange: #f99157;
$h-yellow: #ffcc66;
$h-green: #99cc99;
$h-aqua: #66cccc;
$h-blue: #6699cc;
$h-purple: #cc99cc;

.article pre,
.article .highlight {
  background: $h-background;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: $h-foreground;
  line-height: 22px;
  font-size: 0.85rem;
}
.article .highlight .gutter pre,
.article .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85rem;
}
.article pre,
.article code {
  font-family: $f-console;
}
.article code {
  background: rgba($c-action, 0.1);
  text-shadow: 0 1px #fff;
  padding: 0 0.3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}
.article pre code {
  background: none;
  text-shadow: none;
  padding: 0;
  border-radius: 0;
}
.article .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article .highlight table {
  margin: 0;
  width: auto;
}
.article .highlight td {
  border: none;
  padding: 0;
}
.article .highlight figcaption {
  font-size: 0.85rem;
  color: $h-comment;
  line-height: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem;
  font-family: $f-primary;

  span {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid $c-border;
  }
}
.article .highlight figcaption a {
  float: right;
}
.article .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
}
.article .highlight .line {
  height: 22px;
}
.article .gist {
  margin: 0 -0.9375rem;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: $h-background;
  padding: 15px 20px 15px 0;
}
.article .gist .gist-file {
  border: none;
  font-family: $f-console;
  margin: 0;
}
.article .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article .gist .gist-file .gist-meta {
  background: $h-background;
  color: $h-comment;
  font: 0.85rem font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1rem;
  margin-left: 20px;
}
.article .gist .gist-file .gist-meta a {
  color: $h-blue;
  font-weight: normal;
}
.article .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: $h-comment;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: $h-red;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: $h-orange;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: $h-green;
}
pre .css .hexcolor {
  color: $h-aqua;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: $h-blue;
}
pre .keyword,
pre .javascript .function {
  color: $h-purple;
}
