@import "scss/variables/variables";

$titles-height: 3.5rem;

.progressBar {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  background: $c-primary-bg;
  max-height: 100%;

  h1, h2, h3, h4, h5 {
    @include textContainer;

    font-size: 1rem;
    line-height: $titles-height;
    margin-bottom: 0;

    .headerlink {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      &:hover {
        background: rgba($c-action, 0.15);
      }
    }
  }

  h1, h2 {
    font-size: 1.5rem;
  }

  &__current {
    width: 0;
    height: 7px;
    background: $c-action;
  }

  &__currentTitle {
    position: relative;
    border-bottom: 2px solid $c-action;

    &:not([hidden]) {
      display: block;
    }

    .headerlink {
      display: none;
    }
  }

  &__titles {
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 2px solid $c-action;
    max-height: 255px;
    overflow: auto;
  }

  &__title {
    position: relative;
    border-bottom: 1px solid $c-action;

    &:last-child {
      border-bottom: 0;
    }
  }

  &__toggle {
    @include textContainer;

    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    margin: 0;
    transform: translate(-50%, 0);
    text-align: right;

    .icon {
      width: 30px;
      height: $titles-height;
    }
  }
}
