* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $f-base-size;
  text-size-adjust: 100%;
}

body {
  height: 100%;
  background: $c-primary-bg;
  color: $c-primary;
  font-family: $f-primary;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: $c-link;
  text-decoration: none;

  &:hover {
    color: darken($c-link, 20);
  }
}

p {
  margin: 0 0 1rem;
}

main {
  padding-top: 2rem;
}
