<section class="progressBar {{#if titles.length}}progressBar--showTitles{{/if}}">
  <div class="progressBar__current"></div>
  {{#if titles.length}}
    <a class="progressBar__currentTitle" href="" hidden>
      <span class="progressBar__text"></span>
      <span class="progressBar__toggle">{{{svg 'angle-down'}}}</span>
    </a>
    <ul class="progressBar__titles">
      {{#each titles}}
        <li class="progressBar__title" data-top="{{ offsetTop }}">
          {{{ outerHTML }}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</section>
