@mixin container($max-width: $b-m) {
  margin: 0 auto 1rem;
  max-width: $max-width;
  padding: 0 1rem;
  display: block;
  width: 100%;
}

@mixin textContainer($max-width: $b-s) {
  @include container($b-s);
}
