$c-primary: #1b1d20;
$c-primary-bg: #FCFBFB;

$c-primary-light: #FCFBFB;
$c-primary-bg-light: #1b1d20;

$c-link: #539BDE;
$c-action: #539BDE;

$c-shadow: #1b1d20;
$c-shadow-light: #7F7C7B;

$c-border: #7F7C7B;
$c-border-light: #FCFBFB;

$c-header-bg: #1b1d20;

$c-sidebar-count: #7F7C7B;

$c-img-placeholder: #7F7C7B;

$c-twitter: #1da1f2;
$c-facebook: #3b5998;
$c-reddit: #ff4500;
