<a class="share__link share__link--facebook"
   href="https://facebook.com/sharer/sharer.php?u=<%= url_for(page.permalink) %>"
   target="_blank" title="Facebook">
  <%- partial('_partial/svg', { id: 'facebook-square' }) %>
</a>
