<a class="share__link share__link--reddit"
   href="http://www.reddit.com/submit?url=<%= url_for(page.permalink) %>&title=<%= page.title %>"
   target="_blank" title="Reddit">
  <%- partial('_partial/svg', { id: 'reddit-square' }) %>
</a>
