<a href="http://www.reddit.com/submit?url=<%= url_for(post.permalink) %>&title=<%= post.title %>"
   target="_blank">
  <%- partial('_partial/svg', { id: 'reddit-square' }) %>
  <span>Reddit</span>
</a>
