<a class="share__link share__link--twitter"
   href="https://twitter.com/intent/tweet?text=<%= page.title %>&url=<%= url_for(page.permalink) %>&via=ikertxu"
   target="_blank" title="Twitter">
  <%- partial('_partial/svg', { id: 'twitter-square' }) %>
</a>
