$theme: 'light' !default;

$c-white: #FFF;
$c-light: #FCFBFB;
$c-grey: #dedede;

$c-grey1: #f3f1f3;
$c-grey2: #ebebeb;
$c-grey3: #d5d5d5;
$c-grey4: #b1aeb1;
$c-grey5: #acacac;

$c-black: #000;
$c-dark: #1B1D20;
$c-darkgrey: #434343;

$c-blue: #0E5389;

$c-box-shadow: rgba(0, 0, 0, 0.12);
$c-text-shadow: $c-black;

$status-bar-height: 25px;
$window-titlebar-height: 25px;
