.homeheader {
  $s-text-height: $s-homeheader-h1 + $s-homeheader-h2 + ($s-homeheader-pad * 6);

  height: calc(100% - #{($s-mainnav-v-padding * 2)} - #{$s-mainnav-icon-size});
  min-height: calc(#{$s-homeheader-img-size} + #{$s-text-height});
  text-align: center;
  background-image: radial-gradient(
      $c-action,
      darken($c-action, 40)
  );

  @media (min-width: $b-xs) {
    height: calc(100% - #{($s-mainnav-v-padding * 2)} - #{$s-mainnav-icon-size-xs});
  }

  &__info {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 100%;
  }

  &__gravatar {
    display: block;
    width: $s-homeheader-img-size;
    padding: 1rem;
    border-radius: 50%;
    background: $c-primary-bg;
    margin: 0 auto;
    max-width: 100%;

    img {
      border-radius: 50%;
      display: block;
    }
  }

  h1, h2 {
    font-weight: 400;
    color: $c-primary-light;
    margin: $s-homeheader-pad 0;
  }

  h1 {
    font-size: $s-homeheader-h1;
    line-height: $s-homeheader-h1;
    padding-bottom: $s-homeheader-pad;
    border-bottom: 1px solid $c-border-light;

    @media (min-width: $b-xs) {
      font-size: 3rem;
      line-height: 3rem;
    }

    @media (min-width: $b-s) {
      font-size: 4rem;
      line-height: 4rem;
    }
  }

  h2 {
    font-size: $s-homeheader-h2;
    line-height: $s-homeheader-h2;

    @media (min-width: $b-xs) {
      font-size: 2rem;
      line-height: 2rem;
    }

    @media (min-width: $b-s) {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }
}
