html {
  height: 100%;
  font-size: $f-base-size;
}

body {
  height: 100%;
  background: $c-primary-bg;
  color: $c-primary;
  font-family: $f-primary;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: $c-link;
  text-decoration: none;

  &:hover {
    color: darken($c-link, 20);
  }
}

.icon {
  fill: currentColor;
  color: inherit;
  vertical-align: middle;
}

.container, .textContainer {
  padding: 0 10px;
  max-width: $b-s;
  margin: 0 auto;
}

.container {
  max-width: $b-m;
}
